.container {
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;

    display: flex;
    /*Para possionar em colunas, um do lado do outro*/
    flex-direction: column;
}

.container section {
    flex: 1;

    display: grid;
    /*Cria duas colunas com o mesmo tamanho*/
    grid-template-columns: 1fr 1fr;
    /*Espaçamento sobre elas*/
    gap: 6.25rem;
    /*Todo conteudo do grid alianhado ao centro verticalmente*/
    align-content: center;
}